{% extends 'base.html' %}

{% block content %}

<!-- <div id="createbox" > -->
<!-- <div class="row"> -->
      <div class="col-md-6">
<form action="create" method="post"> {% csrf_token %}
	<h1>Title <input type="text" name="title" class="datepicker" placeholder="Your Title"></h1>
	<p> <i class="material-icons prefix">mode_edit</i> Body<textarea name="body" id="textarea1" class="materialize-textarea"></textarea> </p>
	<input type="date" name="date" placeholder="Enter date" class="datepicker">
	<input type="text" name="author" placeholder="Your name">
	<button type="submit" class="btn btn-default">Submit</button>

</form>
</div>
</div>
<!-- </div> -->
{% endblock %}